# all folders starting with _ are local
_*/

.DS_Store
**/.vscode/ipch

# byte-compiled python files
*.py[cod]

/.vs

/app


# ogn directory
exts/theory.replicator.helpers/theory/replicator/helpers/ogn/*
!exts/theory.replicator.helpers/theory/replicator/helpers/ogn/__init__.py